<div id= '<%= dom_id(discussion) %>'class="mb-2">
  <%= link_to discussion_path(discussion), class: "text-decoration-none text-dark" do %>
    <h2> <%= discussion.title %> </h2>
  <%end%>
  Pinned: <%= discussion.pinned %> | Closed: <%= discussion.closed %>
</div>
