<%= form_for([discussion, post, new_reply]) do |f| %>
  <% if new_reply.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(new_reply.errors.count, "error") %> prohibited this reply from being saved:</h2>

      <ul>
        <% new_reply.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label :body, class: "visually-hidden form-label" %>
  <%= f.rich_text_area :body, placeholder: "Add your reply", autofocus: true %>

  <%= f.submit "Create Reply" %>
<% end %>
