<%= turbo_frame_tag dom_id(post) do %>
  <div class="card my-4">
    <div class="card-body">
      <h4 class="card-title">
        <%= post.user.username %>
      </h4>
      <h6 class="card-subtitle">
        Posted: <%= time_ago_in_words(post.created_at) %> ago
      </h6>
      <p class="card-text">
        <%= post.body %>
      </p>
    </div>

      <% if post.user == Current.user %>
        <div class="card-footer">
          <%= link_to "Edit", edit_discussion_post_path(post.discussion, post), class: "btn btn-primary" %>
          <%= link_to "Delete", discussion_post_path(post.discussion, post), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "btn btn-primary" %>
        </div>
      <% end %>
  </div>
<% end %>
  <div data-controller="visibility">
    <button data-action="visibility#toggle">Replies</button>
    <div data-visibility-target="content" hidden>
      <%= render partial: 'discussions/posts/replies/replies', locals: {discussion: @discussion, post: post, replies: post.replies } %>
    </div>
  </div>
