<nav class="navbar navbar-expand-lg bg-light rounded" aria-label="Thirteenth navbar example">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample11" aria-controls="navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse d-lg-flex" id="navbarsExample11">
      <%= link_to "Forum", root_path, class: "navbar-brand col-lg-3 me-0" %>
      <ul class="navbar-nav col-lg-6 justify-content-lg-center">
        <li class="nav-item">
          <%= link_to "Discussions", discussions_path, class: "nav-link"%>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
        
      <div class="d-lg-flex col-lg-3 justify-content-lg-end">
        <% if !current_user %>
          <%= link_to "Log In", new_user_session_path, class: "nav-item nav-link" %>
          <%= link_to "Sign Up", new_user_registration_path, class: "nav-item nav-link ms-4" %>
        <% else %>
          <%= link_to current_user.username, edit_user_registration_path, class: "nav-item nav-link" %>
          <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-item nav-link ms-4" %>
        <% end %>
      </div>
    </div>
  </div>
</nav>